<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--Booststrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <!--CSS do cadastro e login-->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/cadastro.css')}}"  />

   
</head>

<header>
  <table>

      <tr> <!--CABEÇALHO-->
        <div class="p-3 mb-1 bg-primary text-white" style="text-align: center;" >
          <font size=100px id="cabeca" >FAKE NEWS</font>
          <p>Detector</p>
      </tr>
      
      <tr><!--NAV BAR-->
        
      {% if session['id']  %}

      <nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
        <div class="container-fluid" >
            <a class="navbar-brand" href="{{url_for('home')}}">HOME</a>
            
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 {{usuario}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{{url_for('alterar_email')}}">Alterar E-mail</a></li>
                  <li><a class="dropdown-item" href="{{url_for('alterar_senha')}}">Alterar senha</a></li>
                  <li><a class="dropdown-item" href="{{url_for('deletar')}}">Deletar</a></li>
                </ul>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('historico')}}">Historico</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('sair_sessao')}}">Sair</a>
              </li>
              
              
            </ul>
          </div>
        </div>
      </nav>

      </tr>
      {% endif %}
  </table>
</header>

<body>
	<div style="margin: 55px;">
    <section class="ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="h5 mb-4 text-center">Noticias Testadas</h3>
            <div class="table-wrap">
              <table class="table myaccordion table-hover" id="accordion">
                <thead>
                  <tr>
                    <th>Notícia</th>
                    <th>Resultado</th>
                    <th>Data da Analise</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  {%for linhas in resultado%}
                  <tr data-toggle="collapse" data-target="#collapse{{linhas.id_noticia}}"  aria-expanded="TRUE" aria-controls= "collapse{{linhas.id_noticia}}">
  
                    <th scope="row">{{linhas.titulo}} </th>
                    {%if linhas.resultado == "TRUE"%}
                      <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                      </svg></td>
                    {%else %}
                      <td scope="row"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                      </svg></td>
                    {% endif %}
  
                    <td>{{linhas.data_analise}}</td>
                    <td>
                      <i class="fa" aria-hidden="false"></i>
                    </td>
                  </tr>
                  <tr class="hide-table-padding">
                    <td colspan="6" id="collapse{{linhas.id_noticia}}" class="collapse"  data-parent="#accordion">
                      <p>{{linhas.noticia}}</p>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

</body>

<footer>

  <div class="p-3 mb-1 bg-primary text-white" >
    <p>Criado por :</p>
    <p>Mathues barnabe;
      Guilherme Vieira:
      Gianluca Campanna.
    </p>

</footer>


</html>