<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Booststrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--CSS do cadastro e login-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/cadastro.css')}}"  />
    
    <title>Detecção</title>
</head>

<header>
  <table>

      <tr> <!--CABEÇALHO-->
        <div class="p-3 mb-1 bg-primary text-white" style="text-align: center;" >
          <font size=100px id="cabeca" >FAKE NEWS</font>
          <p>Detector</p>
      </tr>
      
      <tr><!--NAV BAR-->
        
      {% if session['id']  %}

      <nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
        <div class="container-fluid" >
            <a class="navbar-brand" href="{{url_for('home')}}">HOME</a>
            
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 {{usuario}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{{url_for('alterar_email')}}">Alterar E-mail</a></li>
                  <li><a class="dropdown-item" href="{{url_for('alterar_senha')}}">Alterar senha</a></li>
                  <li><a class="dropdown-item" href="{{url_for('deletar')}}">Deletar</a></li>
                </ul>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('historico')}}">Historico</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('sair_sessao')}}">Sair</a>
              </li>
              
              
            </ul>
          </div>
        </div>
      </nav>

      </tr>
      {% endif %}
  </table>
</header>

<body>

    <!--caso já exista sessão-->
    {% if session['id']  %}


    <div class="card" style="margin: 35px;">
        <div class="card-header" style="text-align: center; background-color:#4285F4; color: white;">
          <h3>Detectar Noticia</h3>
        </div>

        <div class="card-body">
          <h3>Instruções</h3>
          <p>Para detectar a noticia corretamente, a noticia deve estar em <b>lingua portuguesa</b>
          e conter no minimo <b>100 palavras</b>.</p>
          <h3>Algoritimos Utilizados</h3>
          <p>Para realizar a decteção nos utilazamos de 3 algoritimos, <a href="https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html">Regreção Logistica</a>,
           <a href="https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html">SVC</a> e <a href="https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPClassifier.html"> MLP</a>.</p>
        </div>

        <div class="card-body">
          <form action="{{url_for('analisando')}}" method="POST">
            <textarea style=" width: 100%;
            height: 150px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            background-color: #f8f8f8;
            resize: none;" name="areaNoticia"  required></textarea><br>
            <input type="submit" name="analisar" ></input>           
        </form>
        </div>
        
      </div>
            

      {%if resultado == "FAKE" %}
        
        <div class="card" style="margin: 35px;">
          
          <div style="margin: 4%; border-radius: 5px;;" >
            <h1>{{msg}} <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="Red" class="bi bi-emoji-frown" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
            </svg></i>
            </h1>
          </div>
          
        </div>
      {%elif resultado == "TRUE" %}
      
      <div class="card" style="margin: 35px;">
          
        <div style="margin: 4%; border-radius: 5px;;" >
          <h1> {{msg}} <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="Green" class="bi bi-emoji-smile" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
          </svg> </h1>
        </div>
        
      </div>
      {%elif msg == "notícia não está em língua portuguesa" %}
      
      <script>
        alert("Notícia não está em língua portuguesa")
      </script>
      {%elif msg == "notícia com menos de 100 palavras" %}
      
      <script>
        alert("notícia com menos de 100 palavras")
      </script>

      {% endif %}

    {% else %} <!--Caso não tenha sessão-->

    <!--From para cadastro-->

    <div class="col d-flex justify-content-center ">
      <div class="card" style="margin-right: 3%; margin-top: 10%;">
        <div class="card-header" style="text-align: center; background-color:#4285F4; color: white;
        ">
        Cadastro
        </div>
        <div class="card-body">
          <form action="{{url_for('cadastro')}}" method="POST"><br>
            Nome: <input type="text" id ="nomeCadastro"name="nomeCadastro" required/><br>
            E-mail: <input type="email" id="emailCadastro" name="emailCadastro" required/><br>
            Senha: <input type="password" id="senhaCadastro" name="senhaCadastro" required pattern="[^\s]+$" title="Não é permitido espaços em branco"/><br>
            Repita a senha: <input type="password" id="senhaCadastroNovamente" name="senhaCadastroNovamente" required pattern="[^\s]+$" title="Não é permitido espaços em branco" /><br>
            
            <!--Javascript para aparecer as mensagens de validações-->
            <div id="mensagem">
                <h3>A senha deve conter os seguintes passos:</h3>
                <p id="minuscsula" class="invalid">pelo menos uma <b>letra minúscula</b> </p>
                <p id="maiuscula" class="invalid">pelo menos uma <b>letra maiúscula</b> </p>
                <p id="numero" class="invalid">pelo menos uma <b>número</b></p>
                <p id="tamanho" class="invalid">Mínimo <b>8 characters</b></p>
            </div>
            
            <input type="submit" value="Cadastrar" /><br>           
            <script type="text/javascript" src="{{url_for('static', filename='javacript/cadastro.js')}}"></script>
        </form>
        
        {{msgCadastro}}
  
        </div>
      </div>
    
      <div class="card" style="margin-right: 3%; margin-top: 10%;">
        <div class="card-header" style="text-align: center; background-color:#4285F4; color: white;
        ">
          Login
          </div>
        <div class="card-body">
          
          <!--Form para login-->
 
        <form action="{{url_for('login')}}" method="post" >
            E-mail: <input type="email" name="emailLogin" required/><br>
            Senha: <input type="password" name="senhaLogin" required/><br>
            <input type="submit" name="login" value="Logar">
            {{msg}}

        </form> 
        <a href="{{url_for('esqueceu_senha')}}"><input type="submit" value="Esqueceu senha" /></a>  
        </form>
        </div>
      </div>
    </div>
    {% endif %}
</body>

<footer>

  <div class="p-3 mb-1 bg-primary text-white" >
    <p>Criado por :</p>
    <p>Mathues barnabe;
      Guilherme Vieira:
      Gianluca Campanna.
    </p>

</footer>

</html>