<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--Booststrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  
  <!--CSS do cadastro e login-->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/cadastro.css')}}"  />

</head>

<header>
  <table>

      <tr> <!--CABEÇALHO-->
        <div class="p-3 mb-1 bg-primary text-white" style="text-align: center;" >
          <font size=100px id="cabeca" >FAKE NEWS</font>
          <p>Detector</p>
      </tr>
      
      <tr><!--NAV BAR-->
        
  </table>
</header>
    {% if   session['ativo']  %}

<body>
  <div class="col d-flex justify-content-center ">
    <div class="card" style="margin-right: 3%; margin-top: 10%;">
      <div class="card-header" style="text-align: center; background-color:#4285F4; color: white;">
      Mudar senha
      </div>
      <div class="card-body"> 
        <form action="{{url_for('mudar_senha')}}" method="post">
          Senha: <input type="password"  id="senhaNovaCadastrada" name="senhaNova" required pattern="[^\s]+$" title="Não é permitido espaços em branco" /> 
          Repita a senha: <input type="password" id="senhaCadastroNovamente" name="repeteSenhaNova" required pattern="[^\s]+$" title="Não é permitido espaços em branco" /><br>  
        
          <input type="submit" name="mudarSenha" value="Atualizar senha" /><br>
          <script type="text/javascript" src="{{url_for('static', filename='javacript/esqueceu_senha.js')}}"></script>
          <h1>{{msg}}</h1>
         </form>
         
         <!--auxilio da senha-->
         <div id="mensagem">
          <h3>A senha deve conter no mínimo os seguintes passos:</h3>
          <p id="minuscsula" class="invalid">A <b>letra minúscula</b> letter</p>
          <p id="maiuscula" class="invalid">A <b>letra maiúscula</b> letter</p>
          <p id="numero" class="invalid">A <b>número</b></p>
          <p id="tamanho" class="invalid">mínimo <b>8 characters</b></p>
        </div>

      </div>
      <h1>{{msg}}</h1>
    </div> 
    
   
   
    {% else %} <!--Caso não tenha sessão-->
    <h1>SESSÂO ACABOU</h1>
    {% endif %}
  </div>
</body>

<footer>

  <div class="p-3 mb-1 bg-primary text-white" >
    <p>Criado por :</p>
    <p>Mathues barnabe;
      Guilherme Vieira:
      Gianluca Campanna.
    </p>

</footer>

</html>